<div class="social-icons">
    <a href="https://twitter.com" target="_blank" class="icon twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/share/18ejFgXc4z/?mibextid=wwXIfr" target="_blank" class="icon facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/egworlwide?igsh=OGt5bmtvMGtuZ2w0" target="_blank" class="icon instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://linkedin.com" target="_blank" class="icon linkedin">
      <i class="fab fa-linkedin-in"></i>
    </a>
<a href="https://www.tiktok.com/@egworldwide?_t=ZS-8ucU8oxQPKs&_r=1" target="_blank" class="icon tiktok">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="tiktok-icon">
    <path fill="currentColor" d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"/>
  </svg>
</a>
    
    <a href="https://snapchat.com/t/qT2QhD8Z" target="_blank" class="icon snapchat">
      <i class="fab fa-snapchat-ghost"></i>
    </a>
  </div>