.scroll-to-top {
    position: fixed; 
    bottom: 1em; 
    right: 1em; 
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color:#212741; 
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .scroll-to-top:hover {
    background-color: #555; 
    transform: scale(1.1);
    color: #ff511a;
  }